body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  
}

.navbar {
  background-color: black;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color:none;
  color: red;
}

 .infinity {
  font-style: italic;
  background-color: none;
  color: red;
  margin-left: 30px;
 }

 .p1 {
  color: white;
  font-size: 30px;
  padding: 90px;
 }

 .main {
  background-color: black;
  min-height: 2000px;
  
  

 }

.footer {
  
  
  padding: 200px;
  background-color: skyblue ;
  
}


